---
title: 'About'
description: 'Meta description for the page'
preloadImg: '/assets/images/potteryhands.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/potteryhands.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/potteryhands.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/potteryhands.jpg" alt="pottery hands" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/potterybowl.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/potterybowl.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/potterybowl.jpg" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/potterytools.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/potterytools.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/potterytools.jpg" alt="house" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">Terra Luna Limited</h2>
                <p class="cs-text">
                    Community is the cornerstone of our business. It's where our family's dream took root and continues to grow. The local farmers market, a melting pot of creativity and collaboration, serves as a constant inspiration for our work. It reminds us of the importance of personal connections and the impact of supporting local artisans and craftspeople. Our commitment to community extends to offering personalized pottery services, inviting you into our creative process to co-create pieces that resonate with your personal story and style.
                </p>
                <p class="cs-text">
                    We warmly invite you to explore our handcrafted collection, either online or by visiting us at the local farmers market. Experience the distinct beauty and character of pieces that have been shaped by the hands of our family for yours. At Terra Luna Limited, every item we offer is a testament to our dedication to artistry, sustainability, and the timeless tradition of handmade pottery. Join us in celebrating the craft, and let's create lasting memories together.
                </p>

        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}