---
title: 'Local Handcrafted Pottery'
description: 'Meta description for the page'
preloadImg: '/assets/images/potterybasics.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero">
        <div class="cs-container">
            <div class="cs-flex-group">
                <span class="cs-topper">Terra Luna Limited</span>
                <h1 class="cs-title">Crafted by Hand, <br>Shaped by Earth,<br> Inspired by Nature</h1>
                <p class="cs-text">
                    Welcome to Terra Luna Limited, where every piece of pottery is a unique testament to the beauty of handcraftsmanship. Nestled in the heart of our local community, we bring to you a collection of pottery that's as unique as you are. Born from the earth and shaped by the hands of our skilled artisans, each piece tells a story of tradition, craftsmanship, and the warmth of human touch. Dive into our world of bespoke pottery—where functionality meets art.
                </p>
                <a href="/about" class="cs-button-solid">Explore More</a>
                <a href="/contact" class="cs-button-transparent">
                    <img
                    class="cs-img"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Hero/play.svg"
                    alt="play icon"
                    width="17"
                    height="17" />
                    Get in Touch
                </a>
            </div>
        </div>

        <!-- Background Image -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/potterybasics.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/potterybasics.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/potterybasics.jpg" alt="new home" width="2500" height="1667" loading="eager">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="services" class="services">
        <!-- Get Icons From flaticon.com -->
        <div class="card">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/svgs/pottery.png"
                alt="appliance"
                width="48"
                height="48" />
            </picture>
            <h2>Handcrafted Uniqueness</h2>
            <p>Every piece from our collection is handcrafted by skilled artisans, ensuring that no two items are exactly alike. Embrace the beauty of uniqueness with pottery that reflects the marks of its maker and the story of its creation.</p>
        </div>
        <div class="card">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/svgs/vase.png"
                alt="appliance"
                width="48"
                height="48" />
            </picture>
            <h2>Sustainable Practices</h2>
            <p>Committed to the well-being of our planet, we use eco-friendly materials and sustainable methods in every step of our process. From the local sourcing of clay to our energy-efficient kilns, we create with respect for the earth.</p>
        </div>
        <div class="card">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/svgs/clay-crafting.png"
                alt="appliance"
                width="48"
                height="48" />
            </picture>
            <h2>Community and Customization</h2>
            <p>Rooted in community spirit, we cherish the connections we make at local farmers markets and beyond. Offering custom pottery services, we invite you to co-create pieces that perfectly match your style and needs, making your space truly your own.</p>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/potterhelp.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/potteryhelp.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/potteryhelp.jpg" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/potteryjar.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/potteryjar.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/potteryjar.jpg" alt="house" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">Terra Luna Limited</h2>
                <p class="cs-text">
                    At Terra Luna Limited, we're more than just a pottery company. We're a family of artists, dreamers, and environmental stewards, dedicated to keeping the ancient art of pottery alive. Our journey begins at the local farmers market, where the vibrant community spirit inspires every piece we create. Using only the finest natural materials and age-old techniques, we ensure that every item not only embodies beauty but also contributes to sustainable living.
                </p>
                <p class="cs-text">
                    We believe in the power of the human touch. In a world filled with mass-produced goods, we stand out by ensuring that every item we create is handcrafted with care and precision. Our artisans are more than just employees; they are craftsmen and storytellers, each with their own unique style and technique. This diversity in creativity allows us to offer you a wide range of pottery that is as individual as the people who bring them into their homes.
                </p>

                <a href="/about" class="cs-button-solid">More About Us</a>
            </div>
        </div>
    </section>




    {% include 'components/cta.html' %}
{% endblock %}